.job-item-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    >p {
        color: hsl(180, 14%, 20%);
        font-weight: 700;
        font-size: 1.2rem;

        &:hover {
            cursor: pointer;
            color: hsl(180, 29%, 50%);
        }
    }

    >ul {
        display: inline-flex;
        list-style-type: none;
        color: hsl(180, 8%, 52%);

        li:not(:first-child)::before {
            content: '\2022';
            padding: 0 0.5rem;
            color: lightgray;
        }
    }
}