.badge {
    padding: 3px 6px;
    border-radius: 1rem;

    >span {
        color: white;

        display: block;
        padding-top: 4px;
        box-sizing: content-box;
    }

    &--new {
        background-color: hsl(180, 29%, 50%);
    }

    &--featured {
        background-color: hsl(180, 14%, 20%);
    }
}